.page {    
  font-family: 'Inter', 'Arial', sans-serif;
  color: white;
  max-width: 882px;
  margin: 0 auto;
  padding: 45px 0 60px;  
}

@media screen and (max-width: 900px) {
  .page {
    padding: 28px 19px 36px;
  }
}
